<style>
    /* Hover effects for images */
    img:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    /* Hover effects for buttons */
    button:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease;
        box-shadow: 0px 0px 8px rgba(255, 221, 0, 0.5);
    }

    /* Hover effects for navbar brand logo */
    .navbar-brand img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    .homelogo img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    /* Smooth scrolling for the entire page */
    html {
        scroll-behavior: smooth;
    }

    /* Default outline for the input boxes */
    .custom-input-box {
        border: 2px solid #807e7e; /* Default outline color */
        border-radius: 5px;
        padding: 10px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    /* Outline on hover for input boxes */
    .custom-input-box:hover {
        border-color: #ffdd00ff; /* Change to a darker yellow on hover */
        box-shadow: 0px 0px 8px rgba(255, 221, 0, 0.5); /* Add a glowing shadow */
    }

    /* Outline on focus for input boxes */
    .custom-input-box:focus {
        border-color: #ffdd00ff; /* Change to orange on focus */
        box-shadow: 0px 0px 10px rgba(255, 221, 0, 0.75); /* Add a more pronounced glowing effect */
        outline: none; /* Remove the default browser outline */
    }
</style>
